.home {
  position: relative;
  margin: 25px auto;

  &--info {
    color: #191F36;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  &--logo {
    width: 280px;
    margin: 0 auto;
  }

  @media screen and (min-width: 500px) {
    margin: 70px auto;
  }
}
