.logo {
  width: inherit;

  &--container {
    position: relative;
  }

  &--title {
    position: absolute;
    font-size: 7.15em;
    font-family: 'Righteous', cursive;
    width: 71.875%;
    display: inline-block;
    left: 33%;
    color: #495582;
  }

  &--image {
    display: inline-block;
    width: 50%;
    margin-top: 30px;
  }
}
