/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
/* The side navigation menu */

body {
  transition: background-color .5s;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 101; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: transform .5s; /* 0.5 second transition effect to slide in the sidenav */
  width: 250px;
  //
  transform: translateX(-100%);

  &.open {
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
      transform: translateX(0);
      & + .overlay {
          right: 0;
          bottom: 0;
          opacity: 0.6;
      }
  }
}

.overlay {
    background: #000;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    cursor: pointer;
    transition: opacity .3s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: .3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .close-menu {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.container {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.open-menu {
  font-size: 20px;
  margin-bottom: 0 !important;
  cursor: pointer;
}
