@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flip {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.panel.wrong {
  animation: shake 3 0.2s;
}

.panel.flip {
  animation: flip 0.6s;
}

.blank {
  border-bottom: 1px solid;
  padding: 0 1em;
  margin: 0 0.3em;
}

#user-info-header {
  text-align: right;
}
